<!DOCTYPE html>
<html>

<head>
  <title>Sign-in</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="css/style-home.css" rel="stylesheet">
</head>

<body>
    <div class="col-md-4 col-md-offset-4">
        <form name="signup" action="/auth/signUp" method="post">
            <div class="form-group">
              <label for="username">User Name</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <input type="submit" value="SIGN UP TODAY" class="btn btn-primary"></input>
        </form>
    </div>
</body>
</html>